<footer class="site-footer">

  <div class="wrapper">

      <h2 class="footer-heading"><i>{{ site.subtitle }}</i> &nbsp;{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
            </li>
            {% if site.sponsor %}
            <li><a href="{{ site.sponsorsite }}">{{ site.sponsor }}</a></li>
            {% endif %}
            {% if site.contact %}
              {{ site.contact | escape }}
            {% endif %}
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        {% include icon-logo.html link=site.sponsorsite caption=site.sponsor %}
      </div>

    </div>

  </div>

</footer>
